---
import Layout from "../../layouts/Layout.astro"

let publicImages:any[] = [];
const res = await fetch(new URL("/api/listPublicImages", Astro.url));
if (res.ok) {
  const data = await res.json();
  publicImages = (data.images ?? []).map((row: any) => row.url);
}

---
<script define:vars={{ publicImages }}>
	
</script>

<Layout>
    <section>
        <div class="flex flex-col justify-center min-h-48 global-padding-x border-b border-border-soft">
            <h1 class="font-gunter text-3xl">Album Title</h1>
            <p class="text-text-muted">This is an album description. In here i briefly talk about the album and project
             so the viewer have a grasp of what it is about!</p>
        </div>
        <div class="global-padding-x grid grid-cols-5 py-8">
            {publicImages.map((photo:string, index:number) =>
				<img class="aspect-square object-cover" src={photo} alt="highlight photo">
			)}
        </div>
    </section>

</Layout>