---
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    <section class="flex flex-col items-center justify-center min-h-48 global-padding-x border-b border-border-soft">
        <h1 class="font-gunter text-4xl">Galeria</h1>
        <p class="text-text-muted">Veja meus projetos de fotografia como fotos, albums, estudos e muito mais!</p>
    </section>
    <section class="flex flex-col global-padding-x">
        <div>
            <h3 class="font-warbler-text text-2xl font-bold">Destaques</h3>
        </div>

        <div>
            <h3 class="font-warbler-text text-2xl font-bold">Albums</h3>
        </div>

    </section>
</Layout>