---
import Layout from "../layouts/Layout.astro"
import '../styles/global.css';
import 'remixicon/fonts/remixicon.css';
import BlogCard from "../components/BlogCard.astro";
---

<Layout>
    <section class="h-96 bg-surface flex flex-col items-center justify-center global-padding-x">
        <h1 class="font-gunter text-3xl">Blog</h1>
        <p class="text-center text-text-muted max-w-[50%] xl:max-w-[30%]">Leia alguns dos meus pensamentos, opiniões e informações curiosas. Talvez se surpreenda com algo interessante!</p>
    </section>
    <section class="flex flex-col global-padding-x py-8">
        <h2 class="font-warbler-display text-2xl font-bold mb-4">Postagens Recentes</h2>
        <div class="flex gap-8">
            <!-- <BlogCard title="Super Title" iconElement={document.getElement}/> -->
            <BlogCard/>
            <BlogCard/>
        </div>
    </section>
</Layout>