---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import 'remixicon/fonts/remixicon.css';
import SocialList from '../components/SocialsList.astro'
import socials from '../data/socials.json'

const highlightPhotos = [
	'https://images.caioabrahao.com.br/highlights/photo-1.webp',
	'https://images.caioabrahao.com.br/highlights/photo-2.webp',
	'https://images.caioabrahao.com.br/highlights/photo-3.webp',
	'https://images.caioabrahao.com.br/highlights/photo-4.webp',
	'https://images.caioabrahao.com.br/highlights/photo-5.webp',
	'https://images.caioabrahao.com.br/highlights/photo-6.webp',
	'https://images.caioabrahao.com.br/highlights/photo-7.webp',
	'https://images.caioabrahao.com.br/highlights/photo-8.webp',
	'https://images.caioabrahao.com.br/highlights/photo-9.webp',
]
---

<Layout>
	<section class="h-screen flex items-center global-padding-x bg-linear-to-br from-bg to-surface">
		<div class="flex justify-between items-center gap-8 flex-col md:flex-row w-full">
			<div>
				<h1 class="font-gunter text-4xl xl:text-6xl">Caio R. Abrahão</h1>
				<p class="xl:text-2xl">Fotos, Artes, Softwares e outras Variedades...</p>
				<SocialList/>
				<div class="mt-4 flex gap-2">
					<a class="btn-primary" href="">Fotografia</a>
					<a class="btn-secondary" href="">Blog</a>
				</div>
			</div>
			<div class="flex flex-col items-center gap-4">
				<div class="card-style-darker w-sm md:w-full flex flex-col gap-4">
					<div>
						<h3 class="font-warbler-text text-xl font-bold">Foto de Destaque</h3>
						<p class="text-text-muted">Olha só essa foto! Oque acha?</p>
					</div>
					<img class="object-cover self-center aspect-square w-3xs md:w-xs" src="https://images.caioabrahao.com.br/lightroom-26.jpg" alt="Imagem Favorita">
				</div>
				<div class="card-style-darker items-center w-sm md:w-md xl:w-xl h-32 flex gap-4">
					<div>
						<h3 class="font-warbler-text text-xl font-bold">Esse é o Título do Blog Post</h3>
						<p class="text-text-muted">Aqui é pra mostrar a porta de entrada para o post
							mais recente do blog!
						</p>
						<p class="text-text-muted text-xs italic opacity-50">03 Mar 2026</p>
					</div>
					<div class="w-[35%] flex items-center justify-center">
						<a href="">Ler Mais <i class="ri-arrow-right-long-line"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="global-padding-x py-32">
		<div class="grid grid-cols-3 2xl:grid-cols-5">
			<div class="p-8 flex flex-col place-content-center card-style-darker overflow-hidden aspect-square">
				<h2 class="font-gunter text-2xl">Fotografia</h2>
				<p class="text-md text-text-muted mt-2">
					Comecei recentemente na fotografia e fiquei apaixonado pela (difícil)
					arte de parar observar o mundo ao meu redor. Essas são algumas das fotos que
					eu tirei...
				</p>
				<a class="text-secondary mt-4 text-lg" href="gallery">Ver Mais <i class="ri-arrow-right-long-line"></i></a>
			</div>
			{highlightPhotos.map((photo, index) =>
				//render a text block in the indicated index position at the grid
				<>{index === 6 && 
				<div class="p-8 flex flex-col place-content-center card-style-darker overflow-hidden aspect-square">
					<h2 class="font-gunter text-2xl">Muito Mais no Instagram!</h2>
					<p class="text-md text-text-muted mt-2">
						Adorei postar coisas no Instagram, então 
						estou postando bastante ultimamente! Me siga lá!
					</p>

					<a class="text-secondary mt-4 text-5xl self-center" href={socials.instagram.link}><i class="ri-instagram-line"></i></a>
					<p class="text-text-muted text-sm opacity-50 self-center">@caioabrahao.fotografia</p>
				</div>
				}

				<img class="aspect-square object-cover" src={photo} alt="highlight photo">
				</>
			)}
		</div>
	</section>
	<section class="global-padding-x py-32">
		<div class="flex flex-col gap-8 max-w-[50%]">
			<div>
				<h2 class="font-gunter text-4xl">Programação</h2>
				<p class="text-text-muted">Como um estudante de Engenharia de Software e entusiasta obcecado por tecnologia desde criança
					eu gasto muito tempo na frente do Pc programando, aprendendo e trabalhando em projetos no geral.
					<br>
					Por aqui você pode ver os meus projetos pessoas favoritos! (Esse site é um deles :D)
				</p>
			</div>
			<div>
				<h5 class="font-warbler-text text-2xl font-bold">Projeto Surpresa</h5>
				<p class="font-thin italic">Não sabe por onde começar? Deixa que eu escolho pra você!</p>
				<p class="text-text-muted mb-2">Clique aqui para ver um projeto aleatório de programação:</p>
				<a class="btn-primary" href="#">Surpreenda-Me <i class="ri-dice-line"></i></a>
			</div>
		</div>
	</section>
</Layout>
