---
import '../styles/global.css';
import 'remixicon/fonts/remixicon.css';

interface Props{
    title: string,
    description?: string,
    pubDate?: string,
    link?: string,
}
const { title, description, pubDate, link } = Astro.props;


---
<div class="card-style-darker min-w-64 min-h-48 flex flex-col justify-center">
    <h3 class="font-warbler-text font-bold text-2xl">{title}</h3>
    <p class="text-text-muted">{description}</p>
    <p class="text-text-muted text-xs italic opacity-50">{pubDate}</p>
    <a href={link}>Ler Mais <i class="ri-arrow-right-long-line"></i></a>
</div>