---
import '../styles/global.css';
import 'remixicon/fonts/remixicon.css';
---
<header class="text-text-muted flex p-4 justify-between global-padding-x fixed w-full">
    <div>
        <p class="font-gunter text-2xl">CRA</p>
    </div>
    <div>
        <nav>
            <ul class="flex gap-4">
                <li><a href="#">Galeria</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Social Media</a></li>
                <li><a href="#">Programação</a></li>
            </ul>
        </nav>
    </div>
</header>