---
import socials from '../data/socials.json';
const socialList = Object.values(socials);

interface Props{
    size?: string;
}
const { size = "lg" } = Astro.props;

---
<ul class:list={['flex gap-2', size]}>
    {socialList.map((social) => (
        <li>
            <a href={social.link} target="_blank" rel="noopener noreferrer">
                <i class={social.icon}></i>
            </a>
        </li>
    ))}
</ul>

<style>
    @reference '../styles/global.css';
    a:hover{
        @apply text-accent transition-colors
    }

    .lg{
        @apply text-2xl
    }
    .sm{
        @apply text-xl 
    }
</style>