---
import '../../styles/global.css';
import 'remixicon/fonts/remixicon.css';
import { R2_BUCKET_NAME } from "astro:env/server";

interface Props{
    pageTitle?: string;
}
const currentPage = Astro.url.pathname;
const bucket = R2_BUCKET_NAME;
---
<header class="w-full global-padding-x py-4 flex place-content-between">
    <div class="flex items-center gap-4">
            <p class="font-gunter text-2xl">CRA</p>
            <h2 class="text-2xl font-warbler-display font-bold">{currentPage}</h2>
            <p class="btn-soft 2xl:text-lg"><i class="ri-cloud-line"></i> Bucket: {bucket}</p>
    </div>

    <nav>
        <ul class="flex gap-4">
            <li><a href="/dashboard/upload"><i class="ri-image-upload-line"></i> Enviar Fotos</a></li>
            <li><a href="manage"><i class="ri-kanban-view"></i> Gerenciar Bucket</a></li>
            <li><a href="/dashboard/"><i class="ri-dashboard-line"></i> Dashboard</a></li>
        </ul>
    </nav>
</header>

<style>
    @reference '../../styles/global.css';
    a{
        @apply transition-colors hover:text-text-muted
    }
</style>